.site-footer {
    padding: 1em;
    background-color: $blanco;
    .footer-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        place-content: center;
        .footer-item {
            @include flex(column);
            align-items: center;
            justify-content: center;
            h3 {
                padding: 1em;
            }
            img {
                width: 100%;
                max-width: 350px;
            }
            i {
                font-size: 1.5rem;
                margin: .3em;
                transition: all .8s ease;
                &:hover {
                    color: $primario;
                    transform: translateY(-5px);
                }
            }
        }
    }
}
.fa-facebook {
    color: #1b1bb1;
}
.fa-twitter {
    color: skyblue;
}
.fa-linkedin {
    color: blue;
}
.fa-instagram {
    color: rgb(255, 60, 0);
}
.fa-youtube {
    color: red;
}
.fa-soundcloud {
    color: rgb(209, 77, 16);
}