.site-header {
    position: relative;
    min-height: 100vh;
    background-color: $blanco;

    @media (max-width: 1050px) {
        min-height: unset;
        position: unset;
    }

    .header-lema {
        @include grid(1fr);
        position: absolute;
        top: 25%;
        right: 0;
        left: 0;
        z-index: 5;

        min-height: 28vh;

        @media(max-width: 1150px) {
            min-height: 50vh;
        }

        @media (max-width: 1050px) {
            min-height: unset;
        }

        h1 {
            text-transform: uppercase;

            color: rgb(255, 255, 255);
            border-radius: 15.5px;
            padding: .3em .5em;
            margin: 0 .3em;
        }
    }
}



.swiper-container {
    position: absolute;
    inset: 0;
    padding: 0;
     @media (max-width: 1050px) {
         min-height: unset;
         position: unset;
     }
    .swiper {
        width: 100%;

        .swiper-slide {
            position: relative;
            z-index: 15;
            cursor: pointer;
            top: 0;
            max-height: 100vh;
            width: 100%;
            min-height: 100vh;
            background-color: #ffffff;
         
              background-size:cover;
              background-position: center;
              background-repeat: no-repeat;
            

            img {
                width: 100%;
                object-fit: contain;

            }
        
            &::after {
                position: absolute;
                inset: 0;
                content: '';
                display: block;
                background: linear-gradient(to right, #ffffff64, #e22470d6)
            }
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: $primario;
    }
}