<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us | Arquitas</title>
    <link rel="icon" type="image/x-icon" href="../favicon.png">
     <link rel="icon" type="image/x-icon" href="favicon.webp">
     <link rel="stylesheet" href="css/estilos.css">
     <script src="https://kit.fontawesome.com/f69e951070.js" crossorigin="anonymous"></script>
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">



</head>

<body>
    <nav class="site-navigation">
        <div class="navigation-container">
            <div class="navigation-logo">
                <a href="/en">
                    <img src="./img/logo-en.png" alt="">
                </a>
                <div class="open-btn menu" id="menu-open">
                    <div class="bar bar-1"></div>
                    <div class="bar bar-2"></div>
                    <div class="bar bar-3"></div>
                </div>
            </div>
            <ul class="navigation-links">
                <li><a href="/en#home">Home</a></li>
                <li><a href="/team">Team</a></li>
                <li><a href="/about">About us</a></li>
                <li><a href="/media">Media</a></li>
                <!-- <li><a href="#news">News</a></li> -->
                 <li><a href="/en#contact">Contact</a></li>
                <!-- <li><a href="#private-access">Private access</a></li> -->

                <div class="lenguaje">
                    <span class="es"><img src="./img/icons8-argentina-48.png" alt=""></span>
                    <input type="checkbox" name="checkbox" class="check" checked>
                    <label for="checkbox" class="en"><img src="./img/icons8-great-britain-48.png" alt=""></label>
                </div>
            </ul>
        </div>
    </nav>

    <main class="seccion-about">

        <section class="about-1">
            <div class="about-texto">
                <h2>About</h2>
                <p>The aging of our beloved ones faces us to the laws of life: taking affectively of them. But this
                    reality faces us that most of the time we spend it in routine and repetitive work and the quality
                    time that we want to give them was replaced with cumbersome procedures, reminders, visits
                </p>
                <p>With this in our minds, we figured out a need to develop a device that can take care of this tasks
                    which were a big load for people who takes care of elder persons, in special women.
                </p>
                <p>That’s how <strong>arquitas</strong> was created.</p>
            </div>
            <div class="about-img">
                <img src="./img/Acerca de_01.webp" alt="">
            </div>



        </section>
        <section class="about-2">
            <div class="about-2-img">
                <img src="./img/Acerca de_02.webp" alt="">
            </div>
            <div class="about-2-texto ">
             
                <p>This device will stop the necessity of human care once and for all. Would make more much easier the
                    relation between families, elder people and caregivers. Besides, the community that forms among
                    users of Arquitas greatly stimulates the reason for living of these people. At the same time, it
                    will save both families and medical institutions a lot of resources. And you'll reduce your
                    environmental impact and carbon footprint by drastically reducing travel.
                </p>
                <p>That’s why we are convinced that a better life is possible.</p>
            </div>

        </section>

    </main>

   


    <footer class="site-footer">
        <div class="footer-grid">
            <div class="footer-item">
                <img src="./img/logo.png" alt="">
            </div>
            <div class="footer-item">
                <h3>Contact</h3>
                <p><i class="fa-solid fa-envelope"></i></i> syanov@arquitas.com.ar </p>
                <p><i class="fas fa-phone"></i> +54 9 11 6746-4648</p>
            </div>
            <div class="footer-item">
                <h3>Follow Us</h3>
                <div class="redes">
                    <a target="__blank" href="https://www.facebook.com/Arquitas-robots-sociales-107427771622911"><i
                            class="fab fa-facebook"></i></a>
                    <a target="__blank"
                        href="https://www.linkedin.com/company/arquitas-by-say-rob%C3%B3tica-asistencial/"><i
                            class="fab fa-linkedin"></i></a>
                    <a target="__blank" href="https://twitter.com/ArquitasS"><i class="fab fa-twitter"></i></a>
                    <a target="__blank" href="https://www.instagram.com/arquitas_robots_sociales/"><i
                            class="fab fa-instagram"></i></a>
                    <a target="__blank" href="https://www.youtube.com/channel/UCpFBn53QXngdcJUZIxPvsxw"><i
                            class="fab fa-youtube"></i></a>
                    <a target="__blank" href="https://soundcloud.com/arquitas"><i class="fab fa-soundcloud"></i></a>
                </div>
            </div>
        </div>
    </footer>


    <script type="text/javascript" src="./js/app.js"></script>

</body>

</html>