* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    font-size: 1rem;
}

li {
    list-style: none;
}

p {
    font-size: 1rem;
    line-height: 1.2;
}

button {
    font-size: 1rem;
}

h1 {
    font-size: 2.9rem;
    font-weight: 600;
}

@media (max-width: 850px) {
    h1 {
        font-size: clamp(1.8rem, 2rem, 2.1rem);
        text-align: center;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: calc(4vw + 1rem);
        text-align: center;
    }
}

h2 {
    font-size: 2.1rem;
}

@media (max-width: 850px) {
    h2 {
        font-size: clamp(1.6rem, 1.8rem, 1.9rem);
    }
}

h3 {
    font-size: 1.8rem;
}

@media (max-width: 850px) {
    h3 {
        font-size: clamp(1.4rem, 1.6rem, 1.9rem);
        text-align: center;
    }
}

.site-navigation {
    background-color: white;
}

.site-navigation .navigation-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: calc(75vw + 5%);
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .site-navigation .navigation-container {
        max-width: calc(95vw + 2.5%);
    }
}

@media (max-width: 1150px) {
    .site-navigation .navigation-container {
        position: fixed;
        z-index: 15;
        max-width: 100%;
        width: 100%;
        max-height: 150px;
        flex-direction: column;
    }
}

.site-navigation .navigation-logo {
    padding: .5em 0;
}

.site-navigation .navigation-logo .open-btn {
    display: none;
}

@media (max-width: 1150px) {
    .site-navigation .navigation-logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 100%;
        padding: .5em 1em;
        background-color: white;
        margin: 0 auto;
        position: relative;
        z-index: 20;
    }

    .site-navigation .navigation-logo .open-btn {
        display: block;
        align-self: center;
        justify-self: flex-end;
        transition: all .5s ease;
    }

    .site-navigation .navigation-logo .open-btn .bar {
        display: block;
        background-color: black;
        height: 2px;
        width: 30px;
        margin: .5em 0;
        transition: all .5s ease;
    }
}

.site-navigation .navigation-logo a img {
    max-width: 130px;
}

.site-navigation .navigation-links {
    display: flex;
    align-items: center;
    gap: 1em;
}

.site-navigation .navigation-links li {
    overflow: hidden;
    position: relative;
    padding: 1em 0;
}

.site-navigation .navigation-links li a {
    color: #333;
    padding: 2.5em .5em;
}

.site-navigation .navigation-links li a:after {
    content: '';
    transition: all .5s ease;
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    top: 95%;
    left: 100%;
    background-color: #E22470;
}

.site-navigation .navigation-links li a:hover:after {
    left: 0;
}

@media (max-width: 1150px) {
    .site-navigation .navigation-links {
        flex-direction: column;
        gap: .5em;
        align-items: flex-start;
        width: 100%;
        transform: translateY(-150%);
        transition: all .5s ease;
        background-color: white;
        position: static;
        z-index: 5;
    }

    .site-navigation .navigation-links.opened {
        transform: translateY(0);
    }

    .site-navigation .navigation-links li {
        padding: .5em;
    }
}

.es img,
.en img {
    width: 25px;
}

input[type="checkbox"] {
    position: relative;
    width: 50px;
    height: 25px;
    border-radius: 25px;
    transition: all 1s;
    -moz-appearance: none;
}

input[type="checkbox"]:checked::after {
    left: 25px;
    border: 2px solid transparent;
}

input[type="checkbox"]:checked:before {
    background-color: #f32f0c;
}

input[type="checkbox"]:hover {
    cursor: pointer;
}

.check::before {
    transition: all 1s;
    content: '';
    display: block;
    border-radius: 25px;
    position: absolute;
    width: 50px;
    height: 25px;
    top: 0;
    bottom: 0;
    background-color: #03caf6;
}

.check {
    transition: all 1s ease;
}

.check:hover:after {
    border: 2px solid #03caf6;
}

.check:hover:checked::after {
    transition: all 1s ease;
    border: 2px solid #f32f0c;
    z-index: 15;
}

.check::after {
    transition: all 1s ease;
    content: '';
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #ffffff;
    transition: 0.25s;
    border-radius: 25px;
    border: 2px solid transparent;
    box-sizing: border-box;
}

.site-header {
    position: relative;
    min-height: 100vh;
    background-color: #f3f3f3;
}

@media (max-width: 1050px) {
    .site-header {
        min-height: unset;
        position: unset;
    }
}

.site-header .header-lema {
    display: grid;
    grid-template-columns: repeat(1fr, 1fr);
    place-content: center;
    position: absolute;
    top: 25%;
    right: 0;
    left: 0;
    z-index: 5;
    min-height: 28vh;
}

@media (max-width: 1150px) {
    .site-header .header-lema {
        min-height: 50vh;
    }
}

@media (max-width: 1050px) {
    .site-header .header-lema {
        min-height: unset;
    }
}

.site-header .header-lema h1 {
    text-transform: uppercase;
    color: white;
    border-radius: 15.5px;
    padding: .3em .5em;
    margin: 0 .3em;
}

.swiper-container {
    position: absolute;
    inset: 0;
    padding: 0;
}

@media (max-width: 1050px) {
    .swiper-container {
        min-height: unset;
        position: unset;
    }
}

.swiper-container .swiper {
    width: 100%;
}

.swiper-container .swiper .swiper-slide {
    position: relative;
    z-index: 15;
    cursor: pointer;
    top: 0;
    max-height: 100vh;
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.swiper-container .swiper .swiper-slide img {
    width: 100%;
    object-fit: contain;
}

.swiper-container .swiper .swiper-slide::after {
    position: absolute;
    inset: 0;
    content: '';
    display: block;
    background: linear-gradient(to right, #ffffff64, #e22470d6);
}

.swiper-container .swiper-button-next,
.swiper-container .swiper-button-prev {
    color: #E22470;
}

.seccion-arquitas {
    max-width: calc(80vw + 2rem);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-content: center;
    gap: 1em;
    min-height: 100vh;
}

@media (max-width: 1200px) {
    .seccion-arquitas {
        max-width: calc(95vw+ 1rem);
    }
}

@media screen and (max-width: 800px) {
    .seccion-arquitas {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        place-content: center;
    }
}

.seccion-arquitas .articulo-img {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.seccion-arquitas .articulo-img img {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    border-radius: 15.5px;
    -webkit-box-shadow: -1px 0px 108px -80px black;
    -moz-box-shadow: -1px 0px 108px -80px black;
    box-shadow: -1px 0px 108px -80px black;
}

.seccion-arquitas .articulo-texto {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    max-width: 550px;
}

.seccion-arquitas .articulo-texto p {
    text-align: right;
    padding: 1em 0;
}

@media screen and (max-width: 800px) {
    .seccion-arquitas .articulo-texto {
        align-items: center;
        margin: 0 auto;
    }

    .seccion-arquitas .articulo-texto p {
        text-align: center;
    }
}

.btn-round {
    border-radius: 33px;
    padding: .8em 3em;
    border: 2px solid transparent;
    background-color: #E22470;
    color: #f3f3f3;
    outline: none;
    text-transform: capitalize;
    cursor: pointer;
    transition: all .3s ease;
}

.btn-round:hover {
    background-color: transparent;
    color: #E22470;
    -webkit-box-shadow: 1px 1px 44px -16px #e22470;
    -moz-box-shadow: 1px 1px 44px -16px #e22470;
    box-shadow: 1px 1px 44px -16px #e22470;
}

section {
    padding: 1.5em 0;
}

section h2 {
    text-align: center;
}

.soluciones-item {
    display: grid;
    grid-template-columns: repeat(4, 20%);
    justify-content: space-between;
    align-items: center;
    max-width: calc(80vw + 2rem);
    margin: 0 auto;
    padding: 2em 0;
}

@media (max-width: 1200px) {
    .soluciones-item {
        max-width: calc(95vw+ 1rem);
    }
}

@media (max-width: 1050px) {
    .soluciones-item {
        grid-template-columns: 1fr;
        grid-template-rows: 2;
    }
}

.soluciones-item:nth-child(3) {
    border-top: 2px solid #E22470;
    border-bottom: 2px solid #E22470;
}

.soluciones-item .item-layout {
    width: 100%;
}

.soluciones-item .item-layout:nth-of-type(1) {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: max-content;
}

@media (max-width: 1050px) {
    .soluciones-item .item-layout:nth-of-type(1) {
        display: none;
    }
}

.soluciones-item .item-layout:nth-of-type(1) p {
    max-width: 16ch;
    text-align: center;
    margin: .5em auto;
    font-weight: 600;
}

.soluciones-item .item-layout:nth-of-type(2) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-content: center;
    grid-column: 2 / end;
}

@media (max-width: 1050px) {
    .soluciones-item .item-layout:nth-of-type(2) {
        grid-column: auto;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-row: 2;
    }
}

.soluciones-item .item-layout img {
    object-fit: cover;
    max-width: 33px;
}

@media (max-width: 1050px) {
    .soluciones-item .item-layout img {
        max-width: 25px;
    }
}

.seccion-funcionalidades {
    text-align: center;
    padding: 1em 0;
}

.funcionalidades-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-content: center;
    max-width: calc(80vw + 2rem);
    margin: 0 auto;
    padding: 3.6em 0;
}

@media (max-width: 1200px) {
    .funcionalidades-grid {
        max-width: calc(95vw+ 1rem);
    }
}

@media (max-width: 1050px) {
    .funcionalidades-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

.item-icon {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5em;
    padding: .5em;
}

.item-icon img {
    margin: 0 auto;
    object-fit: cover;
    max-width: 36px;
}

@media (max-width: 1050px) {
    .item-icon img {
        max-width: 33px;
    }
}

.item-icon p {
    max-width: 19ch;
    text-align: center;
}

.seccion-economia {
    max-width: calc(80vw + 2rem);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-content: center;
    gap: 2em;
    min-height: 100vh;
}

@media (max-width: 1200px) {
    .seccion-economia {
        max-width: calc(95vw+ 1rem);
    }
}

@media screen and (max-width: 800px) {
    .seccion-economia {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        place-content: center;
        min-height: unset;
    }
}

.seccion-economia .economia-img {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.seccion-economia .economia-img img {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    border-radius: 15.5px;
    -webkit-box-shadow: -1px 0px 109px -60px black;
    -moz-box-shadow: -1px 0px 109px -60px black;
    box-shadow: -1px 0px 109px -60px black;
}

.seccion-economia .economia-texto {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    max-width: 550px;
}

.seccion-economia .economia-texto p {
    text-align: right;
    padding: 1em 0;
}

@media screen and (max-width: 800px) {
    .seccion-economia .economia-texto {
        align-items: center;
        text-align: center;
    }

    .seccion-economia .economia-texto p {
        text-align: center;
    }
}

.seccion-about {
    min-height: 100vh;
    display: grid;
    place-content: center;
    padding: 2em 0;
}

.about-1,
.about-2 {
    max-width: calc(80vw + 2rem);
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    min-height: 40vh;
}

@media (max-width: 1200px) {

    .about-1,
    .about-2 {
        max-width: calc(95vw+ 1rem);
    }
}

@media screen and (max-width: 1050px) {

    .about-1,
    .about-2 {
        min-height: 60vh;
    }
}

@media screen and (max-width: 800px) {

    .about-1,
    .about-2 {
        min-height: 100vh;
    }
}

@media screen and (max-width: 800px) {
    .about-1 {
        flex-direction: column;
    }
}

.about-1 .about-img {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.about-1 .about-img img {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    border-radius: 15.5px;
    -webkit-box-shadow: -1px 0px 108px -80px black;
    -moz-box-shadow: -1px 0px 108px -80px black;
    box-shadow: -1px 0px 108px -80px black;
}

.about-1 .about-texto {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 550px;
}

.about-1 .about-texto p {
    text-align: left;
    padding: 1em 0;
}

@media screen and (max-width: 800px) {
    .about-1 .about-texto {
        align-items: center;
        margin: 0 auto;
    }

    .about-1 .about-texto p {
        text-align: center;
    }
}

@media screen and (max-width: 800px) {
    .about-2 {
        flex-direction: column-reverse;
    }
}

.about-2 .about-2-img {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.about-2 .about-2-img img {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    border-radius: 15.5px;
    -webkit-box-shadow: -1px 0px 109px -60px black;
    -moz-box-shadow: -1px 0px 109px -60px black;
    box-shadow: -1px 0px 109px -60px black;
}

.about-2 .about-2-texto {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    max-width: 550px;
}

.about-2 .about-2-texto p {
    text-align: right;
    padding: 1em 0;
}

@media screen and (max-width: 800px) {
    .about-2 .about-2-texto {
        align-items: center;
        text-align: center;
    }

    .about-2 .about-2-texto p {
        text-align: center;
    }
}

.equipo-grid {
    display: grid;
    place-content: center;
    padding: 2em 0;
    position: relative;
    max-width: calc(80vw + 2rem);
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .equipo-grid {
        max-width: calc(95vw+ 1rem);
    }
}

.equipo-grid h3 {
    padding: .3em;
}

.equipo-grid .grid-columna {
    max-width: calc(80vw + 2rem);
    margin: 0 auto;
    justify-content: center;
    gap: 2em;
    min-height: 50vh;
}

@media (max-width: 1200px) {
    .equipo-grid .grid-columna {
        max-width: calc(95vw+ 1rem);
    }
}

.equipo-grid .grid-columna:nth-of-type(1) {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 800px) {
    .equipo-grid .grid-columna:nth-of-type(1) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 1050px) {
    .equipo-grid .grid-columna:nth-of-type(1) {
        min-height: 100vh;
    }
}

.equipo-grid .grid-columna:nth-of-type(1) .columna-img {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.equipo-grid .grid-columna:nth-of-type(1) .columna-img img {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    border-radius: 15.5px;
    -webkit-box-shadow: -1px 0px 108px -80px black;
    -moz-box-shadow: -1px 0px 108px -80px black;
    box-shadow: -1px 0px 108px -80px black;
}

.equipo-grid .grid-columna:nth-of-type(1) .columna-texto {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 550px;
}

.equipo-grid .grid-columna:nth-of-type(1) .columna-texto p {
    text-align: left;
    padding: 1em 0;
}

@media screen and (max-width: 800px) {
    .equipo-grid .grid-columna:nth-of-type(1) .columna-texto {
        align-items: center;
        margin: 0 auto;
    }

    .equipo-grid .grid-columna:nth-of-type(1) .columna-texto p {
        text-align: center;
    }
}

.equipo-grid .grid-columna p {
    letter-spacing: .5px;
    padding: .5em;
    max-width: 70ch;
}

.equipo-grid .grid-columna ul {
    display: flex;
    flex-direction: column;
    gap: .3em;
}

.equipo-grid .grid-columna ul li {
    border-radius: 33px;
    color: black;
    list-style: square;
    list-style-position: inside;
}

.equipo-grid .grid-columna:nth-of-type(2) {
    max-width: 50vw;
    margin: 0 auto 0 0;
}

@media screen and (max-width: 1050px) {
    .equipo-grid .grid-columna:nth-of-type(2) {
        max-width: 90vw;
        padding: 2em 0 0 0;
    }
}

.multimedia-contenedor {
    max-width: calc(80vw + 2rem);
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2em 0;
}

@media (max-width: 1200px) {
    .multimedia-contenedor {
        max-width: calc(95vw+ 1rem);
    }
}

.multimedia-contenedor h2 {
    padding: 2em;
    margin: 0 auto;
}

#gallery {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    gap: 2em;
}

@media screen and (max-width: 1299px) {
    #gallery {
        margin: 0 auto;
    }
}

#gallery a {
    transition: all .5s ease;
    -webkit-box-shadow: -1px 0px 109px -60px black;
    -moz-box-shadow: -1px 0px 109px -60px black;
    box-shadow: -1px 0px 109px -60px black;
    max-width: 250px;
}

#gallery a:nth-child(6),
#gallery a:nth-child(5) {
    display: none;
}

@media screen and (max-width: 1050px) {
    #gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-content: center;
    }

    #gallery #gallery a,
    #gallery #gallery img {
        max-width: 100%;
    }
}

#gallery a img {
    display: block;
    height: 100%;
    aspect-ratio: 1/1;
    max-width: 250px;
    margin: 0 auto;
}

@media screen and (max-width: 1050px) {

    #gallery a,
    #gallery a img {
        max-width: 100%;
        aspect-ratio: unset;
    }
}

#gallery a:hover {
    transform: translateY(-0.5em);
    box-shadow: unset;
}

@keyframes coming {
    0% {
        transform: translateY(-12%);
        opacity: 20%;
    }

    100% {
        opacity: 100%;
        transform: translateY(0);
    }
}

.coming-soon {
    min-height: 100vh;
    display: grid;
    place-content: center;
}

.coming-soon h2 {
    animation: coming 1s ease alternate forwards;
    min-height: 40vh;
    color: #E22470;
}

@media screen and (min-width: 1200px) {
    .coming-soon h2 {
        font-size: calc(4vw + 1rem);
    }
}

.seccion-form h3 {
    text-align: center;
    padding: 2em 0;
}

.seccion-form .contact-form {
    max-width: 750px;
    margin: 0 auto;
}

.seccion-form .contact-form .campo {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-content: center;
    margin: 1.2em;
}

.seccion-form .contact-form .campo input,
.seccion-form .contact-form .campo textarea {
    border: none;
    outline: none;
    -webkit-box-shadow: 16px 7px 116px -58px rgba(0, 0, 0, 0.81);
    -moz-box-shadow: 16px 7px 116px -58px rgba(0, 0, 0, 0.81);
    box-shadow: 16px 7px 116px -58px rgba(0, 0, 0, 0.81);
    padding: .7em .8em;
    border: 1px solid transparent;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 33px;
    font-size: 1rem;
    transition: all .5s ease;
}

.seccion-form .contact-form .campo input:focus,
.seccion-form .contact-form .campo textarea:focus {
    border: 1px solid #E22470;
    box-shadow: none;
    background-color: #00000005;
}

.seccion-form .contact-form .campo label {
    padding: .5em;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .8rem;
}

.seccion-form .contact-form .campo button {
    margin: 0 auto;
    max-width: 250px;
}

.seccion-form .contact-form .campo-row {
    display: flex;
    align-items: center;
}

.seccion-form .contact-form .campo-row .campo {
    width: 100%;
}

@media screen and (max-width: 1050px) {
    .seccion-form .contact-form .campo-row {
        margin: 1.2em;
        flex-direction: column;
    }
}

.mail-200 {
    display: grid;
    place-content: center;
    min-height: 100vh;
    text-align: center;
}
.fa-arrow-left {
    background-color: #e22470;
    width: 100%;
    color: white;
    border-radius: 33px;
    max-width: 250px;
    padding: .3em 1em;
    font-size: calc(3vw + 1rem);
    cursor: pointer;
    transition: .3s ease all;
}
.fa-arrow-left:hover {
     -webkit-box-shadow: 1px 1px 44px -16px #e22470;
     -moz-box-shadow: 1px 1px 44px -16px #e22470;
     box-shadow: 1px 1px 44px -16px #e22470;
     background-color: white;
     color: #e22470;
}
.mail-200 h2 {
    text-align: center;
}

.mail-200 img {
    max-width: 350px;
    margin: 0 auto;
}

.status {
    display: flex;
    align-items: center;
    color: white;
    gap: 1em;
    justify-content: space-between;
    max-width: 850px;
    padding: 4em;
    border-radius: 33px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.status p {
    padding: .5em 1em;
    border-radius: 33px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fffffffe;
}

.status .en {
    background-color: #f32f0cfe;
}

.status .es {
    background-color: #03caf6;
}

.site-footer {
    padding: 1em;
    background-color: #f3f3f3;
}

.site-footer .footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    place-content: center;
}

.site-footer .footer-grid .footer-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.site-footer .footer-grid .footer-item h3 {
    padding: 1em;
}

.site-footer .footer-grid .footer-item img {
    width: 100%;
    max-width: 350px;
}

.site-footer .footer-grid .footer-item i {
    font-size: 1.5rem;
    margin: .3em;
    transition: all .8s ease;
}

.site-footer .footer-grid .footer-item i:hover {
    color: #E22470;
    transform: translateY(-5px);
}

.fa-facebook {
    color: #1b1bb1;
}

.fa-twitter {
    color: skyblue;
}

.fa-linkedin {
    color: blue;
}

.fa-instagram {
    color: #ff3c00;
}

.fa-youtube {
    color: red;
}

.fa-soundcloud {
    color: #d14d10;
}
